@model SistemaVenda.Models.VendaViewModel

@{
	ViewData["Title"] = "Venda";
}

@{
	var disabled = (Model.Codigo == null) ? "disabled" : string.Empty;
}

<h2>Produto</h2>
<hr />

<form asp-controller="Produto" asp-action="Cadastro" method="post">
	<input type="hidden" asp-for="Codigo" value="@Model.Codigo">
	<div class="form-group">
		<div class="col-4">
			<label>Data</label>
			<input asp-for="Data" type="date" value="@Model.Data" class="form-control" />
			<span asp-validation-for="Data" class="text-danger"></span>

		</div>
	</div>

	<div class="form-group">
		<div class="col-4">
			<label>Cliente</label>
			<select asp-for="CodigoCliente" class="form-control input-group-lg" asp-items="@Model.ListaClientes"></select>
			<span asp-validation-for="CodigoCliente" class="text-danger"></span>

		</div>
	</div>

	<div class="form-group">
		<div class="col-4">
			<label>Produtos</label>
			<select id="dropdownProduto" onchange="BuscarPrecoProduto()" class="form-control input-group-lg" asp-items="@Model.ListaProdutos"></select>
		</div>
	</div>

	<div class="form-group">
		
		<div class="col-md-2">
			<label>Preço Unitário</label>
			<input id="txtPrecoUnitario" type="number" class="form-control" disabled />
		</div>
		

	</div>
	<br />

	<div class="col">
		<button type="button" class="btn btn-info" onclick="Novo()">Novo</button>
		<button type="submit" class="btn btn-success">Gravar</button>
		<button type="button" class="btn btn-warning" onclick="Listagem()">Listagem</button>
		<button type="button" class="btn btn-danger" onclick="Excluir(@Model.Codigo)" @disabled>Excluir</button>
	</div>

</form>

<script>

	function BuscarPrecoProduto(){
		var codigoProduto = document.getElementById('dropdownProduto');
		alert(codigoProduto.value);
	}

	function Novo(){
		Request("Cadastro");
	}

	function Listagem(){
		Request("");
	}

	function Excluir(Codigo){
		Request("Excluir\\" + Codigo);
	}

	function Request(request){
		window.location = window.origin + "\\Venda\\" + request;
	}
</script>