@{
    ViewData["Title"] = "Clientes";
}

@model List<SistemaVenda.Entidades.Cliente>;

<h2 class="mb-3 text-primary">Clientes</h2>
<hr />

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered shadow">
        <thead class="table-dark">
            <tr>
                <th class="text-center">Código</th>
                <th>Nome</th>
                <th>CNPJ/CPF</th>
                <th>Email</th>
                <th>Celular</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="Editar(@item.Codigo)" style="cursor: pointer;">
                    <td class="text-center fw-bold">@item.Codigo</td>
                    <td>@item.Nome</td>
                    <td>@item.CNPJ_CPF</td>
                    <td>@item.Email</td>
                    <td>@item.Celular</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<button type="button" class="btn btn-primary btn-lg shadow rounded" onclick="Cadastrar()">Cadastrar Cliente</button>

<script>
    function Cadastrar(){
        window.location = window.origin + "\\Cliente\\Cadastro";
    }

    function Editar(Codigo){
        window.location = window.origin + "\\Cliente\\Cadastro\\" + Codigo;
    }
</script>
